.conteudo_da_pagina{
    display: flex;
    text-align: justify;
    margin-right: 750px;
}

.ingredientes{
    margin-top: 100px;
    font-family: var(--fonte-principal);
    font-size: 32px;
    color: #BF9780;
}

.modo_de_preparo{
    font-family: var(--fonte-principal);
    font-size: 32px;
    color: #BF9780;
}
h1{
    font-family: var(--fonte-principal);
    font-size: 40px;
    color: #BF9780;
}
